.about {
    text-align: center;
    padding: 2rem;
  }
  
  .card-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Space between the cards */
    flex-wrap: wrap; /* In case there are more cards, wrap to next line */
  }
  
  h1 {
    margin-top: 10rem;
    font-size: 4rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
  }
  